<table class="foodIndex_table">
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
  <% recipe_foods.each do |recipe_food| %>
    <% food = recipe_food.food %>
    <tr>
      <td><%= food.name %></td>
      <td><%= recipe_food.quantity %> <%= food.measurement_unit %></td>
      <td>$<%= recipe_food.total_price %></td>
      <td>
        <%= button_to "Modify", edit_recipe_recipe_food_path(@recipe, recipe_food), method: :get, class:"foodIndex_deleteBtn" %>
        <%= button_to "Delete", recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class:"foodIndex_deleteBtn" %>
      </td>
    </tr>
  <% end %>
</table>