<div class="recipeList_recipe">
    <div class="recipeList_recipe_left">
        <h2><%=recipe.name %></h2>
        <div class="recipeList_recipe_left_btns">
            <%= button_to "REMOVE", "recipes/#{recipe.id}", method: :delete, class:"recipesIndex_deleteBtn"%>
            <%= link_to "SHOW", recipe %>
        </div>
    </div>
    <div class="recipeList_recipe_rigth">
        <%= recipe.description %>
    </div>
</div>


<div id="<%= dom_id recipe %>">
  <h2><%= recipe.name %></h2>
  <h4>Public <%= render partial: "shared/switch", locals: {recipe: recipe} %></h4>
  <h4>Preparation time: <%= time_hrs(recipe.preparation_time) %></h4>
  <h4>Cooking time: <%= time_hrs(recipe.cooking_time) %></h4>
  <h4>Cooking time: <%= time_hrs(recipe.cooking_time) %></h4>
  <h4>Steps:</h4>
  <p><%= recipe.description %></p>
  <%= button_to "Generate Shopping List" %>
  <%= if can? :manage?, recipe then button_to "Add Ingredient" end %>
  <hr>
  <%= render partial: "shared/food_table", locals: { foods: @recipe.foods } %>
</div>
